/*imagens das bandeiras*/
img {
    width: 20px;
}

/* Título "Tabela da Copa do Mundo 2022" */
h1 {
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    color: rgb(24, 24, 26);
    text-shadow: 0.1vw 0.1vw 0.2vw rgb(163, 163, 163), 0.1vw 0.1vw 0.2vw gray, 0vw 0vw 0vw gray, 0vw 0vw 0vw gray;
}


/* Corpo da tabela */
div {
    font-family: Verdana;
    text-align: center;
    justify-content: center;
}

/* Tabela */
table {
    border-collapse: collapse;
    width: 30%;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 8px 3px gray;
    border-radius: 0px 20px 0px 20px;
}

/* texto "equipe" */
.equipe {
    overflow: auto;
    text-overflow:ellipsis;
    color: navy;
    font-size: 13px;
    text-align: left;
    padding-left: 2%;
    font-weight: bold;
    width: 30%;
}

/* fundo cinza escuro da linha equipe */
.fundolinhaequipe{
    background-color: rgb(155, 155, 155);
}

/* Lista de países */
.país {
    text-align: left;
    padding-left: 2%;
    width: 30%;
}

/* cor cinza do fundo das posições 1. e 3. da tabela */
.corsim {
    background-color: lightgray;
}

/* Conteúdo da tabela */
td {
    width: 05%;
    text-align: center;
    overflow: auto;
    text-overflow: clip;
}

/* Grupos */
th {
    height: 25px;
    text-align: auto;
    background-color: rgb(10, 0, 155);
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: lighter;
    border-radius: 0px 20px 0px 0px;
}

/* fundo */
body {
    background-color: rgb(223, 223, 223);
    width: 100%;
    padding: auto;
}
    



